<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
	<link rel="stylesheet" href="/public/css/base.css">
	<link rel="stylesheet" href="/public/css/index.css">
	<link rel="stylesheet" href="/public/css/new.css">
	<link rel="icon" href="/public/favicon.ico">
	<script defer src="/public/js/clientBase.js"></script>
	<script defer src="/public/js/clientIndex.js"></script>
	<script defer src="/public/js/clientNotes.js"></script>
	<script defer src="/public/js/clientNew.js"></script>
	<title>MajaNotes</title>
</head>
<body class="bg-white">
	<section id="mainArea" class="py-4 my-5">
			<header class="mx-3 title">
				<h1 class="text-danger title">MajaNotes</h1>
				<a id="loginButton" href="/login" class="mainBtn">Login</a>
			</header>
        <div class="container">
		<h1 id="accountError"><%- locals.error %></h1>
</body>
</html>
