<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="public/css/base.css">
	<link rel="stylesheet" href="public/css/invalid.css">
	<link rel="icon" href="public/favicon.ico">
	<script defer src="public/js/clientBase.js"></script>
	<script defer src="public/js/clientInvalid.js"></script>
	<title>Invalid note</title>
</head>
<body>
	<h1 id="homeButton"><a href="/">home</a></h1>
	<h1 id="invalid">Invalid note!</h1>
	<h3><%- locals.message %></h3>
	<form>
		<input type="button" value="Go back!" onclick="history.back()">
	</form>
</body>
</html>