<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/base.css">
	<link rel="stylesheet" href="/public/css/index.css">
	<link rel="stylesheet" href="/public/css/new.css">
	<link rel="icon" href="/public/favicon.ico">
	
	<title>MajaNotes</title>
</head>
<body class="bg-white">
	<section id="mainArea" class="py-4 my-5">
			<header class="mx-3 title">
				<a id="titleLink" href="/"><h1 class="text-danger title">MajaNotes</h1></a>
				<a id="guest" href="/guest" class="mainBtn">Use as guest</a>
				<a id="loginButton" href="/register" class="mainBtn">Register</a>
			</header>
        <div class="container">
	<section id="newMajanote">
		<h1>Login</h1>
		<form action="/login/input" method="POST">
			<label id="loginLabel" for="commentBox">Enter Username:<br>
			<input type="text" required id="loginuser" name="loginuser"><br>
			<label id="passwordLabel" type="password">Enter Password:</label><br>
			<input type="password" required id="loginpass" name="loginpass"><br>
			<button id="submitButton" type="submit">Submit</button>
		</form>
		

</body>
<script>
	const form =document.querySelector('form')

	function formCallback(){
		let loginuser=document.getElementById('loginuser')
		let loginpass=document.getElementById('loginpass')
		reqOptions={method: 'POST', body: JSON.stringify({loginuser:loginuser.value,loginpass:loginpass.value}), headers:{"Content-Type": "application/json" }}
		fetch('http://localhost:3000/login/input',reqOptions)
		 .then(res => res.text()).then(htmlStr => {
		  console.log(htmlStr)
          document.open();
          document.write(htmlStr);
          document.close();
		})
	}
	form.addEventListener("submit", (e)=>{
		e.preventDefault();

		formCallback()
	})
</script>
</html>







