@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
	box-sizing: border-box;
}

body {
  font-family: 'India';
	background-color: grey;
}



#loggedInText{
  color: gray;
  font-family: 'Indie Flower', cursive; 
  font-size: 1.5rem;
}

#homeButton a {
	color: #dc3545;
	position: absolute;
	 top: 0;
	right: 15%; 
	display: inline; 
	border-radius: 20px;
	padding: 10px 10px;
	cursor: pointer;
	background-color: lightgray;
	color: black;
	font-size: 2vw;
	text-align: center;
	font-weight: normal;
}


#createButton a {
	color: lime;
	position: absolute;
	top: 0;
	right: 15%;
	display: inline;
}

img {
	max-width: 100%;
}

.cardButton {
  font-family: 'Indie Flower', cursive; 
  font-size: 1.3rem;
	text-align: right;
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
	margin-top: 5%
}

.emojiButton {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
	background: transparent;
	border: 0;
}

.emojiCount {
	margin: 0;
	margin-top: -1px;
}

#accountError {
	margin-top: 50px;
}

.title {
	user-select: none;
}

#mainLogo {
	max-width: initial;
}

a:hover {
	text-decoration: none;
}

#createButton {
	position: relative;
	top: 0;
	width: 15%;
  margin-left: 10%;
  padding: 10px 20px 10px 20px;
  white-space: nowrap;
}

.card-title {
  font-family: 'Indie Flower';
  font-weight: bold;
}

#loginButton {
	position: relative;
	top: 0;
  left: 11%;
	width: 10%;
  margin-left: 10%;
  padding: 10px 20px 10px 20px;
  white-space: nowrap;
}

#logoutButton {
  position: relative;
  right: -15%;
  padding: 10px;
}

.title {
		position: relative;
    display: flex;
    flex-direction: row; 
    font-family: 'Indie Flower', cursive; 
    font-weight: bold; 
    font-size: 4rem;
    align-items: center;
}

.mainBtn {
	border-radius: 20px;
	padding: 10px 0px;
	cursor: pointer;
	background-color: lightgray;
	color: black;
	font-size: 2vw;
	text-align: center;
	font-weight: normal;
}

button {
    border-radius: 20px;
    border-style: none;
		/*background-color: white;*/
    cursor: pointer;
    padding: 5px;
}

.cardButtonsDiv button {
  margin-left: -264px;
  background-color: transparent;
}

.loginSubmit {
    padding: 10px;
}

.card {
    border-radius: 20px;
	margin: 10px 30px;
box-shadow: 5px 5px 15px 5px #474747;
}

.gif-img {
	width: 100%;
}

.reactions {
    padding: 10px;
}


main {
	margin-top: 5%;
	display: flex;
}


.noteBody {
	margin: 30px;
	padding: 30px 10px 30px 30px;
}

p.noteContent {
	margin-bottom:10px;
  font-family: 'Indie Flower';
}

.noteTitle {
	margin: 10px;
  font-family: 'Indie Flower';
  font-weight: bold;

}

h2.noteBody {
	margin: 0;
}

#notesGrid {
	opacity: 0;
    transition: all 0.5s ease-in;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0px;
    /* width: 77%; */
    text-align: center;
    align-items: center;
    margin-left: 70px;
	
}
@media screen and (max-width: 1200px) {
	#notesGrid {
		grid-template-columns: repeat(3, 1fr);
	}

}

@media screen and (max-width: 810px) {
	#notesGrid {
		grid-template-columns: repeat(2, 1fr);
    margin-top: 32%;
    width: 108%;
    margin-left: 0;
	}
}

.noteImage {
	width: 50%;
	height: 50%;
	max-width: 50%;
	max-height: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*display: none;*/
}

#mainArea {
	margin: 0 !important;
}

#newForm {
    font-size: 18px;
    padding: 36px;
    font-family: 'Indie Flower', cursive; 
    font-weight: bold;
    position: absolute;
    left: 4px;
    top: 35px;
}

/*leave this unclosed comment exactly how it is. didn't notice it, built entire css around this being here, leave it*/
* Some positioning and ratios */
.sticky-container {
  /* max-width: 270px; */
  margin-left: 20%;
  position: relative;
  margin-bottom: 44px;
}

.sticky-outer {
  display: flex;
  padding-top: 35%;
  position: relative;
  width: 50%;
  margin-bottom:40px;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Shadow behind the sticky note */
.sticky:before {
  box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  content: '';
  width: 91%;
  left: 5px;
  height: 89%;
  position: absolute;
  top: 30%;
}

/* The sticky note itself */
.sticky-content {
  background: linear-gradient(
    180deg,
    rgba(187, 235, 255, 1) 0%,
    rgba(187, 235, 255, 1) 12%,
    rgba(170, 220, 241, 1) 75%,
    rgba(195, 229, 244, 1) 100%
  );
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kalam', cursive;
  font-size: 1rem;

  clip-path: url(#stickyClip);
}

.sticky-content-edit {
  background: linear-gradient(
    180deg,
    rgba(191, 255, 187, 1) 0%,
    rgba(191, 255, 187, 1) 12%,
    rgba(191, 255, 187, 1) 75%,
    rgba(191, 255, 187, 1) 100%
  ) !important;
}

/* Add responsiveness */
@media screen and (max-width: 511px) {
  .sticky:before {
    height: 79%;
    width: 90%;
  }
  #newForm {
    font-size: 5px;
    /* padding: 36px;
    font-family: 'Indie Flower', cursive; 
    font-weight: bold;
    position: absolute;
    left: 4px;
    top: 35px; */
}

@media screen and (max-width: 766px) {
  .sticky:before {
    height: 79%;
    width: 90%;
  }
  
  #newForm {
    font-size: 10px;
    /* padding: 36px;
    font-family: 'Indie Flower', cursive; 
    font-weight: bold;
    position: absolute;
    left: 4px;
    top: 35px; */
}
  
}

@media screen and (max-width: 768px) {
  .sticky:before {
    height: 75%;
    width: 90%;
  }
  /* .sticky-content {
    font-size: 1.5rem;
  } */

  #newForm {
    font-size: 10px;
    /* padding: 36px;
    font-family: 'Indie Flower', cursive; 
    font-weight: bold;
    position: absolute;
    left: 4px;
    top: 35px; */
}
}

@media screen and (max-width: 1024px) {
  .sticky:before {
    height: 88%;
    width: 106%;
  }
  /* .sticky-content {
    font-size: 1.875rem;
  } */
}

.cardButtonsDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
}
