* {
	box-sizing: border-box;
}

body {
	background-color: grey;
}

#homeButton a {
	color: cyan;
	position: absolute;
	top: 0;
	right: 15%;
	display: inline;
}

#createButton a {
	color: lime;
	position: absolute;
	top: 0;
	right: 15%;
	display: inline;
}

img {
	max-width: 100%;
}

.cardButton {
	text-align: right;
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
	margin-top: 5%
}

.emojiButton {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
	background: transparent;
	border: 0;
}

.emojiCount {
	margin: 0;
	margin-top: -10px;
}

#accountError {
	margin-top: 50px;
}