@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Rubik:ital,wght@1,300&display=swap');

body {
	background-color: white;
	font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1.5rem;
	color: #dc3545;
}

.card {
    border-radius: 20px;
	margin: 10px 30px;
    box-shadow: 5px 5px 15px 5px #474747;
	position: relative;
	left: 100%;
	font-family: 'Libre Baskerville', serif;
	color:#121213;
}

.container{
	border: 12px solid #717272;
    border-radius: 30px;
    margin: 15px 100px 15px 100px;
}

#submitButton {
	margin-bottom: 20px;
	border: none;
    color: rgb(70, 69, 69);
	text-align: center;
	display: inline-block;
    font-size: 16px;
	font-family: 'Libre Baskerville', serif;
	cursor: pointer;
	box-shadow: 5px 5px 15px 5px #474747;
	border-radius: 5px;
	position: relative;
	left: 27%;

}

#commentsSection {
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
	display: inline-block;
	margin:50px 20px 0px 10px;
	background-color: #e4e9eb;
	box-shadow: 5px 5px 15px 5px #474747;
	font-family: 'Rubik', sans-serif;
	color: #161424;
	text-align: center;
	position: relative;
	left: 35%;
	
}

 label{
	display: inline-block;
	font-size: 16px;
	position: relative;
	left: 27%;
}

.char{
	display: inline-block;
	font-size: 16px;
	position: relative;
	left: 3%;
}

#commentBox{
	background-color: #e4e9eb;
	display: inline-block;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 5px 5px 15px 5px #474747;
	text-align: center;
	position: relative;
	font-family: 'Rubik', sans-serif;
	
}

.cardButton {
	display: none;
}
