@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Rubik:ital,wght@1,300&display=swap');

body {
	background-color: white;
	/* font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1.5rem; */
}
.title2{
top: 10%;
font-family: 'Indie Flower', cursive;
font-weight: 500;
line-height: 1.2;
color: inherit;
text-align: center;
position:relative;

}

.homeButton {
 position: absolute;
 top: 5%;
 width: 10%;
 margin-left: 10%;
 padding: 10px 20px 10px 20px;
 border-radius: 20px;
 white-space: nowrap;
 cursor: pointer;
 text-decoration: none;
background-color: lightgray;
font-family: 'Indie Flower', cursive;
font-size: 2vw;
color: black;
text-align: center;
font-weight: normal;
left: 75%;
box-sizing: border-box;
}
a:hover {
	color: #0056b3;
	
}

.container{
	border: 12px solid white;
    border-radius: 30px;
    margin: 15px 100px 15px 100px;
}

.card {
    border-radius: 20px;
	margin-bottom: 7%;
    /* box-shadow: 5px 5px 15px 5px #474747; */
	position: relative;
	left: 100%;
	font-family: 'Libre Baskerville', serif;
	color:#121213;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
}

#submitButton {
	margin-bottom: 20px;
	border: none;
    color: rgb(70, 69, 69);
	text-align: center;
	display: inline-block;
    font-size: 16px;
	font-family: 'Libre Baskerville', serif;
	cursor: pointer;
	/* box-shadow: 5px 5px 15px 5px #474747; */
	border-radius: 5px;
	position: relative;
	left: 27%;

}

#commentsSection {
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
	display: inline-block;
	background-color: #e4e9eb;
	/* box-shadow: 5px 5px 15px 5px #474747; */
	font-family: 'Rubik', sans-serif;
	color: #161424;
	/* text-align: center; */
	/* position: relative;
	left: 35%; */
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
	
}

 label{
	display: inline-block;
	font-size: 16px;
	position: relative;
	left: 27%;
}

.char{
	display: inline-block;
	font-size: 16px;
	position: relative;
	left: 3%;
}

#commentBox{
	background-color: #e4e9eb;
	display: inline-block;
	border-radius: 5px 5px 0px 0px;
	/* box-shadow: 5px 5px 15px 5px #474747; */
	position: relative;
	font-family: 'Rubik', sans-serif;	
}

.cardButton {
	display: none;
}

