

main {
	margin-top: 5%;
	display: flex;
}


.noteBody {
	margin: 30px;
	padding: 30px 10px 30px 30px;
}

p.noteContent {
	margin-bottom:10px;
}

.noteTitle {
	margin: 10px;
}

h2.noteBody {
	margin: 0;
}

#notesGrid {
	opacity: 0;
	transition: all 0.5s ease-in;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 0px;
}
<<<<<<< HEAD:public/css/notes.css
.deleteButton { /* Added this for the delete button on each note */
	display: block;
	background-image: url('../bin.png'); 
	width: 30px;
	height:30px;
}

.emojiButton {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
	background: transparent;
	border: 0;
=======
@media screen and (max-width: 1200px) {
	#notesGrid {
		grid-template-columns: repeat(3, 1fr);
	}
>>>>>>> b624919b9f7bc4b369e368393f9ef01a4331c724:public/css/index.css
}
@media screen and (max-width: 810px) {
	#notesGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}



.noteImage {
	width: 50%;
	height: 50%;
	max-width: 50%;
	max-height: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*display: none;*/
}
