@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover {
	text-decoration: none;
}

.title {
    display: flex;
    flex-direction: row;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 4rem;
}

button {
    margin-left: auto;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    cursor: pointer;
}

.card {
    border-radius: 20px;
	margin: 10px 30px;
}

.gif-img {
	width: 100%;
}

.reactions {
    padding: 10px;
}


main {
	margin-top: 5%;
	display: flex;
}


.noteBody {
	margin: 30px;
	padding: 30px 10px 30px 30px;
}

p.noteContent {
	margin-bottom:10px;
}

.noteTitle {
	margin: 10px;
}

h2.noteBody {
	margin: 0;
}

#notesGrid {
	opacity: 0;
	transition: all 0.5s ease-in;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 0px;
	
}
@media screen and (max-width: 1200px) {
	#notesGrid {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 810px) {
	#notesGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}



.noteImage {
	width: 50%;
	height: 50%;
	max-width: 50%;
	max-height: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*display: none;*/
}
