@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
	font-family: 'Indie Flower', cursive; 
   
}
.loginSubmit {
	margin-top: 20px;
}

h1 {
	font-family: 'Indie Flower', cursive; 
    font-weight: bold; 

}

div.container {
	margin-top: 9%;
	display:flex;
	gap: 20%;
	justify-content: center;
	padding: 20px;
}
@media screen and (max-width: 511px) {
	div.container {
		margin-top: 9%;
		display:flex;
		flex-direction: column;
		gap: 20%;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}

}


