@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#giphyUrl, #usernameField, #passwordField, #editId, #newMajanote {
	display: none;
}

#stopEdit {
	position: absolute;
	white-space: nowrap;
	right: 50%;
	bottom: 9%;
	display: none;
}

#selectGifText {
	font-family: 'Indie Flower', cursive; 
	font-weight: bold;
	font-size: 3rem;
	margin-top: 150px;
	display: none;
	position: relative;
    left: -8%;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

label {
	margin: 0;
}

#giphyGifs {
	display: relative;
}

.selectedGif {
	border: 5px solid lime;
}

.gifFigure {
	display: inline-block;
	margin: 20px;
}

.gifFigure img {
	max-width: 100px;
	max-height: 100px;
}

figure {
	margin: 0;
}

.sticky-content {
	/* width: 115%; */
	height: 115%;
}  


@media screen and (max-width: 1400px) {
	.sticky-content {
		height: 116%;
	}
	.sticky:before{
		height: 91%;
		width: 92%;
	}

	#newForm {
		font-size: 19px;
	}
}

@media screen and (max-width: 1198px) {

	#newForm {
		font-size: 15px;
	}
}



@media screen and (max-width: 992px) {
  .sticky-content {
    height: 190%;
		width: 130%;
  }

  .sticky:before {
	height: 164%;
	width: 115%;
  }

  #newForm {
	font-size: 17px;
}
}

@media screen and (max-width: 768px) {
	.sticky:before {
		height: 168%;
		width: 120%;
	}
  
	#newForm {
	  font-size: 10px;
  }
  }

  @media screen and (max-width: 500px) {
	.sticky-content {
		height: 90vw;
		width:90vw;
	}
	.sticky:before{
		display:none
	}

	#notesGrid{
		grid-template-columns: repeat(1, 1fr);
		margin-top: 50px;
		margin-left: 0;
	}
}

@media screen and (max-width: 988.89px) {
	#notesGrid {
		margin-top: 123px;
		margin-left: 0;
	}
  }

  @media screen and (max-width: 300px) {
	#notesGrid {
		display:none;
	}
  }



#giphyRemove {
	display: none;
	position: absolute;
	white-space: nowrap;
	top: 327px;
	right: -15px;
}
