

main {
	margin-top: 5%;
	display: flex;
}


.noteBody {
	margin: 50px;
	padding: 20px 30px 30px 20px;
}

h2.noteBody {
	margin: 0;
}

#notesGrid {
	opacity: 0;
	transition: all 0.5s ease-in;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.emojiButton {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
	background: transparent;
	border: 0;
}

.emojiCount {
	margin: 0;
	margin-top: -10px;
}