<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/new.css">
	<link rel="icon" href="../../public/favicon.ico">
	<script defer src="../../public/js/clientBase.js"></script>
	<script defer src="../../public/js/clientNew.js"></script>
	<title>New MajaNote</title>
</head>
<body>
	<h1>New MajaNote</h1>
	<form action="./new" method="POST">
		<label id="titleLabel" for="titleBox">Title:
			<input type="text" id="titleBox" name="title" value="<%= locals.title %>">
		</label><br>
		<label id="noteLabel" for="noteBox">MajaNote: (max 200 chars)<br>
			<textarea id="noteBox" name="note" rows="4", cols="50"><%= locals.note %></textarea>
		</label><br>
		<label id="colorLabel" for="colorDropdown">Color:
			<select name="color" id="colorDropdown">
				<option value="white">White</option>
				<option value="blue">Blue</option>
				<option value="green">Green</option>
				<option value="red">Red</option>
				<option value="yellow">Yellow</option>
			</select>
		</label><br>
		<button id="submitButton" type="submit">Submit</button>
	</form>
</body>
</html>